.sticky {
  display: inline-flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #404040;
}

.active {
  color: #2497d8;
  font-weight: bold;
}

.menuItem {
  display: inline;
  position: auto;
  height: 100%;
  padding-left: 15px;
}

.menuItem:hover {
  cursor: pointer;
  text-decoration: underline;
}
